@import url('LoginPage.css');

input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  outline: none;
  margin: 5px 0px;
  box-sizing: border-box; /* Add this property */
}

input[type="email"]:focus {
  border-color: #007BFF;
}
